.git
.vscode
.DS_store
.env
node_modules
tests
docs
*.md
*.log
*.sql
*.sqlite
.gitignore
.gitattributes
.eslintrc
.editorconfig
.env*
docker-compose*
Dockerfile*
README.md
LICENSE
*.yml
*.yaml
.phpunit*
